{% extends "base.twig" %}
{% block css %}
    <link rel="stylesheet" href="{{ theme_url }}/components/image.min.css" type="text/css" />
{% endblock %}

{% block main_content %}
    {% for page in pages if page.title %}
        <img class="ui tiny left floated circular image" src="{{ base_url }}/assets/{{ page.author }}.jpg">
        <h2 class="ui header">
            {{ page.meta['name'] }}{% if page.meta['job'] is defined %}
                <div class="ui sub header">{{ page.meta['job'] }}</div>
            {% endif %}
        </h2>
        {{ page.id|content|length > config.semantic_post_shorten  ? page.id|content|slice(0, config.semantic_post_shorten) ~ '...' : page.id|content }}
        <div class="ui hidden fitted divider"></div>
        <a href="{{ page.url }}" class="ui animated mini {{ config.semantic_color }} button" tabindex="0"> 
            <div class="visible content">READ</div>
            <div class="hidden content">MORE</div>
        </a>
        <div class="ui hidden divider"></div>
    {% endfor %}
{% endblock %}